<ngx-spinner bdColor="rgb(84,118,158)" size="small" color="#FDFEFE" type="pacman" [fullScreen]="true" *ngIf="!loading">
  <h1 style="color: white">Cargando... </h1>
</ngx-spinner>

<ngx-spinner bdColor="rgba(0,0,0,0.38)" size="small" color="#FDFEFE" type="timer" [fullScreen]="true" *ngIf="loading">
</ngx-spinner>

<div class="container">
  <div class="row">
    <div class="col-1 col-sm-2 col-md-2 col-lg-2">

    </div>
    <div class="col-10 col-sm-8 col-md-8 col-lg-8 pt-5 mt-5">

      <div class="row divScoreall">
        <div class="d-flex justify-content-between">
          <div>
            <img class="mt-2" src="/assets/images/logo.svg" width="130">
          </div>
          <div>
            <div class="score text-center">
              <div class="col-12">
                <small class="title-score">SCORE</small>
              </div>
              <div class="col-12">
                <h2 class="title-result">{{ (score | async) || 0}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-2 justify-content-center" *ngIf="!loading && !result">

        <div class="col-6 col-sm-6 col-md-6 col-lg-6">

          <div class="d-flex justify-content-center topp index1 toppx">
            
            <div class="hand-circle" (click)="play(1)">
              <div class="hand-inner-circle" title="Papel">
                <img class="mt-2 p-3" src="/assets/images/icon-paper.svg" width="70">            
              </div>
            </div>

          </div>
        </div>
        
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">

          <div class="d-flex justify-content-center topp index1 toppx">
            
            <div class="scissors-circle" (click)="play(2)">
              <div class="scissors-inner-circle" title="Tijera">
                <img class="mt-2 p-3" src="/assets/images/icon-scissors.svg" width="70">            
              </div>
            </div>
  
          </div>
        </div>

        <div class="triangleCustom text-center index2 toppx">
            <img class="mt-5 pt-5 img-fluid" src="/assets/images/bg-triangle.svg"  width="400">
        </div>

        <div class="d-flex justify-content-center topp2 toppx">
          <div class="rock-circle" (click)="play(3)">
            <div class="rock-inner-circle" title="Piedra">
              <img class="mt-2 p-3 index1" src="/assets/images/icon-rock.svg" width="70">            
            </div>
          </div>
        </div>

      </div>

      <div class="row pt-4 justify-content-center text-center" *ngIf="result">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pt-5 mt-5 text-center">
          
          <p class="txt">YOU PICKED</p> <br><br>

          <div class="{{ targetUser }}-circle2 {{ targetUser }}-circle">
            <div class="{{ targetUser }}-inner-circle" title="Papel">
              <img class="mt-2 p-3 img-res" src="/assets/images/icon-paper.svg" width="120" *ngIf="numUser == 1">
              <img class="mt-2 p-3 img-res" src="/assets/images/icon-scissors.svg" width="120" *ngIf="numUser == 2">
              <img class="mt-2 p-3 img-res" src="/assets/images/icon-rock.svg" width="130" *ngIf="numUser == 3">
            </div>
          </div>

        </div>
        
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pt-2 mt-2 play_again">
          
          <ng-container *ngIf="!loading">
            <h3 class="txt" *ngIf="winUser && !winSys">YOU WIN</h3>
            <h3 class="txt" *ngIf="!winUser && winSys">YOU LOSE</h3>
            <h3 class="txt" *ngIf="winUser && winSys">TIE</h3>
  
            <div class="col-12">
              <button class="btn btn-light border border-radius" (click)="resetAll()"><p class="colorTxt">PLAY AGAIN</p></button>
            </div>
          </ng-container>
        </div>
        
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 pt-5 mt-5">

          <p class="txt">THE HOUSE PICKED</p> <br><br>

          <div class="{{ targetSys }}-circle2 {{ targetSys }}-circle" *ngIf="!loading">
            <div class="{{ targetSys }}-inner-circle" title="Papel">
              <img class="mt-2 p-3 img-res" src="/assets/images/icon-paper.svg" width="120" *ngIf="numSys == 1">
              <img class="mt-2 p-3 img-res" src="/assets/images/icon-scissors.svg" width="120" *ngIf="numSys == 2">
              <img class="mt-2 p-3 img-res" src="/assets/images/icon-rock.svg" width="130" *ngIf="numSys == 3">
            </div>
          </div>
          
          <div class="black-circle2" *ngIf="loading">
            <div class="black-inner-circle img-res" style="height: 150px;" title="Cargando..."></div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-1 col-sm-2 col-md-2 col-lg-2"></div>


    <div class="col-12 col-sm-12 col-md-12 col-lg-12" *ngIf='!loading'>
      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-light border border-radius" (click)="open(content)">RULES</button>
      </div>
    </div>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-body">
    <div class="row text-center">
      <div class="col-12">
        <h3 class="ruletxt">RULES</h3>
      </div>

      <div class="col-12 pt-5">
        <img class="mt-2 p-3" src="/assets/images/image-rules.svg">
      </div>

      <div class="col-12 pt-5">
        <button type="button" class="btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <h3 class="closetxt">x</h3>
        </button>
      </div>
    </div>
  </div>
</ng-template>
